button{
    display: block;
    margin:20px 0;
}

.btn{
    font-size:30px;
    color: #bbbbbb;
    cursor: pointer;
    background-color: white;
    border:1px solid #ddd;
    box-shadow:0 0 3px rgb(220,200,220);
    width:70px;
    height:70px;
    border-radius:70px;
    padding:0;
    position: relative;
    overflow: hidden;
    transition:all .5s;
}
.btn .btn-icon{
    width:70px;
    height:70px;
    text-align: center;
    line-height: 70px;
}
.btn-stretch .btn-text{
    position: absolute;
    left:75px;
    top: -10px;
    opacity:0;
    transition: all .5s;
}
.btn-spin .btn-text{
    position: absolute;
    left:75px;
    top: 20px;
}
.btn-stretch:hover{
    width:200px;
}